In [18]:
name = "zaskia"
age = 19
address,province = "Cemerlang", "4210121"
scorePython = 84.5
isMarried = False

print("Nama :", name)
print("Umur :", age)
print("Alamat :", address)
print("Nilai :", scorePython)
print("Status Menikah :", isMarried)

print("Type Data <name>", type(name))
print("Type Data <age>", type(age))
print("Type Data <address>", type(address))
print("Type Data <nilai>", type(scorePython))
print("Type Data <isMarried>", type(isMarried))

Nama : Dzann
Umur : 18
Alamat : Nanggeleng
Nilai : 84.5
Status Menikah : False
Type Data <name> <class 'str'>
Type Data <age> <class 'int'>
Type Data <address> <class 'str'>
Type Data <nilai> <class 'float'>
Type Data <isMarried> <class 'bool'>

In [28]:
#Konversi dari sString ke INT,Float, Bool
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt, strToFloat,strToBool, sep="-")

#Konversi dari int ke Str,float,bool
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(strToInt, intToFloat, intToBool, sep="-")

#Konversi dari Float ke Str,int,bool
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr, floatToInt, floatToBool, sep="-")

#Konversi dari int ke Str,float,bool
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
boolToInt = int(isMarried)
print(boolToStr, boolToFloat, boolToInt, sep="-")

4210121-4210121.0-True
4210121-18.0-True
84.5-84-True
False-0.0-0

In [34]:
#type data basis bilangan

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal : ", desimal)
print("Nilai biner : ", biner)
print("Nilai octal : ", octal)
print("Nilai hexa : ", hexa)

print("Nilai binner dari ", desimal, ":", bin(desimal))
print("Nilai octal dari ", desimal, ":", oct(desimal))
print("Nilai hexa dari ", desimal, ":", hex(desimal))

Nilai desimal :  500
Nilai biner :  10
Nilai octal :  255
Nilai hexa :  255
Nilai binner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai hexa dari  500 : 0x1f4

In [74]:
#type Data Collection

#list
cities = ["Bandung", "Jakarta", "Sukabumi", "Bogor", "Bali"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1] [len(cities[lengthCities-1])-1])
cities[0] = "Depok"
print (cities)

#tuple
names = ("zaskia", "jafar","putra")
print(names)
print(names[1])

#Disctionary
studentData = {
    "name" : "zaskia",
    "age" : 19,
    "address" : {
        "street" : "Jl.Cemerlang",
        "number" : 1,
        "province" : "Jawa Barat"
    },
    "isMarried" : False,
    "hobbies" : ["masak","makan"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"] ["province"])
print(studentData["hobbies"][0])


#listDictinary
studentList = [
    {
        "name" : "jafar",
        "age" : 21
        "address" : {
            "street" : "Sukabumi",
            "number" : 12,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["main gitar","Badminton"]
    },
    {
        "name" : "putra",
        "age" : 19,
        "address" : {
            "street" : "Sukabumi",
            "number" : 123,
            "province" : "Jawa Barat"
        },
        "isMarried" : False,
        "hobbies" : ["Ngaca","Gaming"]
    },
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

['Bandung', 'Jakarta', 'Sukabumi', 'Bogor', 'Bali']
Bandung
Bali
B
i
['Depok', 'Jakarta', 'Sukabumi', 'Bogor', 'Bali']
('Naufal', 'Gidzan', 'Deni')
Gidzan
{'name': 'Gidzan', 'age': 19, 'address': {'street': 'Jl.Pasir Makmur', 'number': 1, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Ngedit', 'Gaming']}
19
Jawa Barat
Ngedit
{'name': 'Naufal', 'age': 19, 'address': {'street': 'Sukabumi', 'number': 12, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['jadi Vtuber', 'Gaming']}
{'name': 'Deni', 'age': 19, 'address': {'street': 'Sukabumi', 'number': 123, 'province': 'Jawa Barat'}, 'isMarried': False, 'hobbies': ['Ngaca', 'Gaming']}
Jawa Barat

In [60]:
#Conversi Dictionary

list_list = [["Name", "zaskia"], ["Age",19], ["Status", True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name", "zaskia"), ("Address"," Sukabumi")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name", "Cat"], ["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptil"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle", "Brand", "CC"]
values = ["Car", "merce", 1700]
car = dict(zip(keys,values))
print(car)

{'Name': 'Gidzan', 'Age': 19, 'Status': True}
{'Name': 'Gidzan', 'Address': ' Sukabumi'}
{'Name': 'Cat', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptil'}
{'Vehicle': 'Car', 'Brand': 'Koenisegg', 'CC': 1700}